
header{
    background-color:  #95ADBC;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

#navbarText{
    color: #FAF9FA;
}

.navbar{
    background-color: #537EA4;
    color: #FAF9FA;
    font-size: large; 
}

.logo{
   margin: 5;
   
}

body {
    background-color: #9898A6;;
}

h1 {
    color:  #FAF9FA;
}

.nav-link{
    color: #FAF9FA;
}

#border{
    box-shadow: 5px 10px 15px #FAF9FA;
    
}

.welcome{
    background-color: #9898a6;
    padding-top: 20px;
    padding-bottom: 50px;
}

.projects{
    background-color: #A9B8CB;
    padding-top: 50px;
    padding-bottom: 50px;
}

.aboutMe{
    background-color: #9898A6;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contactMe{
    background-color: #A9B8CB;
    padding-top: 50px;
    padding-bottom: 50px;
}

.icon:hover{
    background-color: #FAF9FA;
}

.card-img-top{
    background-color: #FAF9FA;
}

.lang {
    margin-right: 25px;
}

.goButton {
    padding: 5px;
}